.logo {
    background: none;
    color: #fff;
    font-size: 22px;
    letter-spacing: 10px;
}
.navbar-header {
    background-color: transparent;
}
.navbar {
    margin: 0;
    border-width: 0;
    border-radius: 0;
    background-color: #ffffff;
}
span.loginPerson {
    text-transform: capitalize;
}
