<div class="topbanner">
    <!-- <span class="silverbg"> -->
        <img style="margin-top: 3px;transform: skew(360deg, 363deg);width: 259px;margin-left: 39px;" draggable="false" src="assets/img/DT_2.jpg">
    <!-- </span> -->
</div>
<div style="position: absolute;
top: 20%;
z-index: 200;
width: 100%;
font-size: 16px;
background: #ffffffc7;">

    <marquee scrollamount="13" style="padding-top: 8px;" onMouseOver="this.stop()" onMouseOut="this.start()">
        <!-- <a id="playlink" href="https://play.google.com/store/apps/details?id=com.daimler.disc&hl=en" style="color: #000;" target="_blank"> -->
        <!-- <b>DISC Portal <i class="fa fa-long-arrow-right"></i>  Performance  Tab will not be accessible for users from 27th January 2020 ( 12 am IST ) to 29th January 2020 ( 12 am IST ).</b>
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp; -->
        <!-- <b>Quality tab <i class="fa fa-long-arrow-right"></i> Packaging Portal is under enhancement. Will resume back shortly in upcoming weeks.</b>
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp; -->
        <!-- <b>Due to COVID – 19 production closure, SRR rating for the month of April’2020 will not be available in DISC PORTAL.</b>
      &nbsp;&nbsp;
      &nbsp;&nbsp; -->
        <!-- &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp; -->
        <!-- <b>DICV Supplier Quality Manual has been released to the suppliers through email dated 13th Aug</b> -->
        <a download class="downlaod_magazine" href="assets/pdf/Expectations in sustainability_updated final.pdf"><img style="border: 1.5px solid;
            padding: 0px;" class="android_banner" src="assets/img/login_scroll.png" alt="">
            Click here to download <b>DICV Expectations From Supplier Partners on ESG</b></a> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
            <!-- &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; -->
            
        <!-- <a download class="downlaod_magazine" href="assets/pdf/Perspective_2024 First Edition_Supplier Magazine_Final.pdf"><img class="android_banner" src="assets/img/bus_removebg.png" alt="">
        Click here to download <b>PERSPECTIVE</b> - DICV Supplier Magazine</a> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
       
        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; -->
        <!-- <a download class="downlaod_magazine" href="assets/pdf/DICV Supplier Magazine_Perspective_Issue02_August 2024.pdf"><img class="android_banner" src="assets/img/bus_removebg.png" alt="">
            Click here to download <b>PERSPECTIVE</b> - DICV Supplier Magazine Second Edition</a>  -->
           
            <!-- &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; -->
        
        <!-- &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      
      <b class="animated infinite flash delay-2s" style="animation-duration: 2s;"> Now available at  &nbsp;&nbsp; <img class="apple_banner" src="assets/img/badge_apple.png" alt="" ></b>
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      <b>DICV DISC 2.0</b> Mobile App is now available at       &nbsp;&nbsp;
      <img  class="android_banner" src="assets/img/badge_new.png" alt="" > 
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      
      <b class="animated infinite flash delay-2s" style="animation-duration: 2s;"> Now available at  &nbsp;&nbsp; <img class="apple_banner" src="assets/img/badge_apple.png" alt="" ></b>
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      <b>DICV DISC 2.0</b> Mobile App is now available at
      &nbsp;&nbsp;
      <img  class="android_banner" src="assets/img/badge_new.png" alt="" > &nbsp;&nbsp; 
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp;
      &nbsp;&nbsp; -->

        <!-- <b class="animated infinite flash delay-2s" style="animation-duration: 2s;"> Now available at  &nbsp;&nbsp; <img class="apple_banner" src="assets/img/badge_apple.png" alt="" ></b> -->
        <!-- </a> -->

    </marquee>
</div>
<div style="position: fixed;
bottom: 0px;
background: red;
z-index: 2000;
text-align: center;
margin: auto;
left: 0;
right: 0;
color: #fff;
background: #8c8c8c;
padding: 4px;">
    This application is best supported in Google Chrome, Mozilla Firefox!
</div>
<div class="container-fluid ">
    <div class="row topaslign" style="margin: 0px;">
        <div class="col-md-9 ">
        </div>
        <div class="col-md-3 bgform">
            <h4 class="heading text-center">DICV-DISC PORTAL</h4>
            <!-- <h4  *ngIf="loginFormType=='external'" class="heading text-center">EXTERNAL USER LOGIN </h4> -->

            <div>
                <!-- <a>
          <img src="assets/img/logo2.png" alt="." class="">
        </a>
        <br> -->
                <section class="formlogin">
                    <ng-container *ngIf="loginFormType=='internal'" [formGroup]="loginForm">
                        <div class="form-group" style="display:flex">
                            <!-- <span class="glyphicon glyphicon-user"></span> -->
                            <input type="text" placeholder="Short ID" class="form-control innerfield" formControlName="shoertId" required>
                        </div>
                        <small *ngIf="!loginForm.controls['shoertId'].valid && loginForm.controls['shoertId'].touched" class="text-danger">Enter
              Valid Short ID </small>
                        <div class="form-group" style="display:flex">
                            <!-- <span class="glyphicon glyphicon-lock"></span> -->
                            <input type="password" placeholder="Password" class="form-control innerfield" autocomplete="off" formControlName="password" required>
                        </div>
                        <small *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched" class="text-danger">Enter
              Password ( min 8 Char and max 15 char ) </small>
                        <small class="text-danger" style="margin-bottom: 4%;position: relative;top: -5px;">{{errormsg}}</small>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <button type="submit" class="btn login " (click)="onFormSubmit()">Login&nbsp;
                  <small style="background:none" class="	glyphicon glyphicon-log-in"></small>
                </button>
                                <img src="assets/img/manual.png" style="    position: relative;
                top: 15px;
                cursor: pointer;
                width: 60px;" (click)="openusermanual('internal')">
                                <p style="position: relative;top: 15px;cursor: pointer;"> Manual</p>
                            </div>
                            <div class="col-md-8">
                                <a (click)="forgetpass()" style="cursor: pointer; ">
                                    <p class="forget  pull-right">Forgot Password ?</p>
                                </a>
                                <a routerLink="/signup" class="forget  pull-right">
                  New User
                </a>
                                <a class="interballogbtn " (click)="logintype('external')">External
                  Login &nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="loginFormType=='external'" [formGroup]="externalloginForm">
                        <div class="form-group" style="display:flex">
                            <!-- <span class="glyphicon glyphicon-user"></span> -->
                            <input type="text" placeholder="Vendor Code" class="form-control innerfield" formControlName="vendorcode" required>
                        </div>
                        <small *ngIf="!externalloginForm.controls['vendorcode'].valid && externalloginForm.controls['vendorcode'].touched" class="text-danger">Enter
              Valid Vendor Code </small>
                        <div class="form-group" style="display:flex">
                            <!-- <span class="glyphicon glyphicon-user"></span> -->
                            <input type="text" placeholder="E-Mail ID" class="form-control innerfield" formControlName="email" required>
                        </div>
                        <small *ngIf="!externalloginForm.controls['email'].valid && externalloginForm.controls['email'].touched" class="text-danger">Enter
              Valid Email </small>
                        <div class="form-group" style="display:flex">
                            <!-- <span class="glyphicon glyphicon-lock"></span> -->
                            <input type="password" placeholder="Password" class="form-control innerfield" formControlName="password" autocomplete="off" required>
                        </div>
                        <small *ngIf="!externalloginForm.controls['password'].valid && externalloginForm.controls['password'].touched" class="text-danger">Enter
              Password ( min 8 Char and max 15 char ) </small>
                        <small class="text-danger" style="margin-bottom: 4%;">{{errormsg}}</small>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <button type="submit" class="btn login " (click)="onFormSubmitExternal()">Login&nbsp;
                  <small style="background:none" class="	glyphicon glyphicon-log-in"></small>
                </button>
                                <img src="assets/img/manual.png" style="    position: relative;
                top: 15px;
                cursor: pointer;
                width: 60px;" (click)="openusermanual('external')">
                                <p style="position: relative;top: 15px;cursor: pointer;">Manual</p>
                            </div>
                            <div class="col-md-8">
                                <a (click)="forgetpass()" style="cursor: pointer; ">
                                    <p class="forget  pull-right">Forgot Password ?</p>
                                </a>
                                <a (click)="newuser()" class="forget  pull-right">
                  New User
                </a>
                                <a class="interballogbtn " (click)="logintype('internal')">Internal
                  Login &nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </ng-container>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="forgetpassInternal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" [formGroup]="forgetpassFormInternal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-transform: capitalize;color:#026D9D;">Password Recovery</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="role" class="editmodal">Short ID:</label>
                            <input type="text" class="form-control " formControlName="shortid" maxlength="40" autocomplete="off" id="21vc2" placeholder="Enter Short ID" style="    border: 1px solid #929090 !important;padding:0 10px ">
                            <small class="text-danger" *ngIf="!forgetpassFormInternal.controls.shortid.valid && forgetpassFormInternal.controls.shortid.touched">Short ID
                is invalid </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img class="col-md-6" src="{{captchaImg}}" alt="" style="padding: 0px;">
                        <div class="col-md-6">
                            <input id="enteredValue" type="text" class="form-control" placeholder="Enter the value" style="margin-top: 10px;">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm modalbtn" (click)="submitCaptcha('enteredValue')">Submit</button>
                    <button type="button" class="btn btn-sm modalbtn" data-dismiss="modal">Cancel </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="forgetpassExternal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" [formGroup]="forgetpassFormExternal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-transform: capitalize;color:#026D9D;">Password Recovery</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="role" class="editmodal">Vendor Code:</label>
                            <input type="text" class="form-control " formControlName="vendorCode" maxlength="40" autocomplete="off" id="vc1" placeholder="Enter Vendor Code" style="    border: 1px solid #929090 !important;padding:0 10px ">
                            <small class="text-danger" *ngIf="!forgetpassFormExternal.controls.vendorCode.valid && forgetpassFormExternal.controls.vendorCode.touched">Vendor
                Code is invalid </small>
                        </div>
                        <div class="form-group">
                            <label for="role" class="editmodal">Email-ID:</label>
                            <input type="text" class="form-control " formControlName="emailid" autocomplete="off" id="v2cc2" placeholder="Enter Email-ID" style="    border: 1px solid #929090 !important;padding:0 10px ">
                            <small class="text-danger" *ngIf="!forgetpassFormExternal.controls.emailid.valid && forgetpassFormExternal.controls.emailid.touched">Email
                is invalid </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img class="col-md-6" src="{{captchaImg}}" alt="" style="padding: 0px;">
                        <div class="col-md-6">
                            <input id="enteredValue2" type="text" class="form-control" placeholder="Enter the value" style="margin-top: 10px;">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm modalbtn" (click)="submitCaptcha('enteredValue2')">Submit</button>
                    <button type="button" class="btn btn-sm modalbtn" data-dismiss="modal">Cancel </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="newExternaluser" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content" [formGroup]="newExternaluserForm" style="max-height:90vh !important;overflow: auto;width: 490px;">
            <div class="modal-header">
                <button type="button" class="close" (click)="new_user_popup_close()">&times;</button>
                <h4 class="modal-title" style="text-transform: capitalize;color:#026D9D;">{{show_otherfields ? 'NEW USER REGISTRATION':'OTP Verification'}}</h4>
            </div>
            <div class="modal-body modalnewuser">
                <div class="container-fluid" style="padding: 0;">
                <div class="row" *ngIf="overall_hide">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                              <div class="form-group" style="margin:15px 0 0 0 !important">
                                <!-- <label for="email" class="editmodal">E-mail</label> -->
                                <input type="text" class="form-control " formControlName="vendorCode" maxlength="40" autocomplete="off" placeholder="Enter Vendor Code" (input)='bluercheckemail()'>
                                <input id="mailid" type="email" class="form-control" autocomplete="off"  placeholder="Enter E-mail" formControlName="emailid" (input)='bluercheckemail()' style="margin-top: 12px;">
                                <!-- <small class="text-danger" *ngIf="!PrivilagesignupdetailsForm.controls.email.valid && PrivilagesignupdetailsForm.controls.email.touched">
                                  Email is invalid</small> -->
                              </div>
                          </div>
                          </div>
                           <div class="row" *ngIf="generate_otp_val" style="margin-top: 11px;">
                            <div class="col-md-10">
                              <img src={{signup_captchaImg}} alt="" style="width: 100%;box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
                              padding: 6px;
                              margin-top: 4px;">
                            </div>
                            <div class="col-md-2" style="padding: 0;">
                              <img src="assets/img/refresh-page-option.png" title="Refresh Captcha" class="refresh_img" alt="" (click)="fetchCaptcha()">
                            </div>
                           </div>
                            <div class="row" *ngIf="generate_otp_val">
                              <div class="col-md-12" style="margin-top: 16px;">
                                <input type="text"  class="form-control" id="captcha_text" autocomplete="off"  placeholder="Enter Captcha Code">
                                <button class="opt_btn" (click)="verify_captcha()">Generate OTP</button> 
                              </div>
                            </div>
                            <div class="row" *ngIf="show_otp" style="margin-top: 19px;">
                              <div class="col-md-12">
                                <input type="number"  class="form-control" id="otp_text" autocomplete="off"  placeholder="Enter OTP">
                                <button class="opt_btn" (click)="verify_otp()">Verify</button>  <a style="margin-left: 9px;
                                cursor: pointer;" (click)="resend_otp()">Resend OTP</a>
                                <h6 style="font-size: 13px;color: red;margin-top: 0;">OTP will expire in <b>{{otp_timer}}</b> mins.</h6>
                              </div>
                            </div>
                    </div>
                    <div class="col-md-3"></div>
                  </div>
                     <div class="row" *ngIf="show_otherfields">
                        <div class="col-md-12" style="color: red;">
                            Session Timeout <b>{{otp_timer}}</b> mins.
                        </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-12" style="padding:0px">
                                <div class=" form-group">
                                    <label for="role" class="editmodal padlabel">Vendor Code: </label>
                                    <input type="text" class="form-control" readonly [value]=newExternaluserForm.value.vendorCode autocomplete="off" placeholder="Vendor code..." style="border: 1px solid #929090 !important;padding:0 10px ">
                                    <!-- <datalist id="vcadd">
                    <ng-container *ngFor="let list of totalvendordata ">
                      <option value={{list.code}}></option>
                    </ng-container>
                  </datalist> -->
                                    <!-- <small class="text-danger" *ngIf="!newExternaluserForm.controls.supplierid.valid && newExternaluserForm.controls.supplierid.touched">Vendor
                      Code is invalid or (select vendor code from dropdown) </small> -->
                                </div>
                            </div>
                            <div class="col-md-12" style="padding:0px">
                                <div class=" form-group">
                                    <label for="role" class="editmodal">Full Name:</label>
                                    <input type="text" class="form-control " formControlName="fullname" maxlength="120" autocomplete="off" id="vc22" placeholder="Enter Full Name" style="padding:0 10px ">
                                    <small class="text-danger" *ngIf="!newExternaluserForm.controls.fullname.valid && newExternaluserForm.controls.fullname.touched">
                   Full Name is invalid (Special Characters are not allowed)</small>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class=" form-group">
                                <label for="role" class="editmodal">E-mail:</label>
                                <input type="text" class="form-control " id="otpcopymail" readonly formControlName="emailid" maxlength="100" autocomplete="off" id="1vc22" placeholder="Enter E-mail" style="    border: 1px solid #929090 !important;padding:0 10px ">
                                <!-- <small class="text-danger" *ngIf="!newExternaluserForm.controls.emailid.valid && newExternaluserForm.controls.emailid.touched">Email
                  is invalid </small> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class=" form-group">
                                <label for="role" class="editmodal">Mobile No:</label>
                                <input type="text" class="form-control " formControlName="mobilenumber" maxlength="12" autocomplete="off" id="v2c2" placeholder="Enter Mobile No" style="border: 1px solid #929090 !important;padding:0 10px ">
                                <small class="text-danger" *ngIf="!newExternaluserForm.controls.mobilenumber.valid && newExternaluserForm.controls.mobilenumber.touched">
                      Number is invalid (Min 10 characters and Special Characters are not allowed)</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="role" class="editmodal">Team:</label>
                                <select name="Dcountry" id="region" class="form-control" formControlName="teamid">
                        <option value=null disabled> Select Team</option>
                        <ng-container *ngFor="let data of suppteams;let index = index ;">
                          <option value={{data?.id}}>{{data.name}}</option>
                        </ng-container>
                      </select>
                                <small class="text-danger" *ngIf="!newExternaluserForm.controls.teamid.valid && newExternaluserForm.controls.teamid.touched">Team
                       is required </small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class=" form-group">
                                <label for="role" class="editmodal">Department:</label>
                                <input type="text" class="form-control " formControlName="department" maxlength="120" autocomplete="off" id="v2c22" placeholder="Enter Department" style="    border: 1px solid #929090 !important;padding:0 10px ">
                                <small class="text-danger" *ngIf="!newExternaluserForm.controls.department.valid && newExternaluserForm.controls.department.touched">
                    Department is invalid (Special Characters and numbers are not allowed)</small>

                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                  <label for="role" class="editmodal">Designation:</label>
                  <select name="Dcountry" id="region" class="form-control" formControlName="designationid">
                      <option value=null disabled> Select Designation</option>
                      <ng-container *ngFor="let data of Designation;let index = index ;">
                        <option value={{data?.id}}>{{data.levelname}}</option>
                      </ng-container>
                    </select>
                  <small class="text-danger" *ngIf="!newExternaluserForm.controls.designationid.valid && newExternaluserForm.controls.designationid.touched">Designation
                     is required </small>
                </div>
              </div>
          <div class="col-md-6">
           
          </div>
        </div> -->
                </div>
            </div>
        </div>
            <div class="modal-footer" *ngIf="show_otherfields">
                <button type="button" class="btn btn-sm modalbtn" (click)="confirmExternalsignup()">Submit</button>
                <button type="button" class="btn btn-sm modalbtn"  (click)="new_user_popup_close()">Cancel </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SrrPerfomanceImage" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- <div class="modal-header" style="border-bottom: 0px;">
          </div> -->
            <div class="modal-body" style="padding: 0px !important;margin: 0px !important;background: #dcdddf;">
                <button type="button" class="close" data-dismiss="modal" style="position: relative;right: 50px;top: 30px;">&times;</button>
                <img src="assets/img/internalmanual.png" *ngIf="manualtype=='internal'" style="width:100%">
                <img src="assets/img/externalmanual.png" *ngIf="manualtype=='external'" style="width:100%">
            </div>
        </div>
    </div>
</div>

<!-- reward show popup -->
<div class="modal fade" id="reward_popup" tabindex="-1" role="dialog" aria-labelledby="reward_popupModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="margin-left: auto;
    margin-right: auto;
    display: block;
    width: 64%;">
        <div class="modal-content" style="border:none">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body" style="padding: 0;">
             <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <img src="assets/img/Qprime Awards.jpg" style="width: 100%;" alt="">
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer" style="border: none;
            padding-top: 13px;padding: 0px 17px 0px 13px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                        <img src="assets/img/Qprime.png" alt="" style="width: 67px;margin-top: 14px;">
                    </div>
                    <div class="col-md-11" style="padding-left: 29px;">
                        <h5 style="font-size: 12px;padding: 4px 0px;width: 100%;font-weight: bold;text-align: left;">
                            Following Light house Model suppliers – ALP Nishikawa, Autotech industries, Brakes India Sholinghur, Imperial Auto, Kiswok foundry,
                             Nash Industries, New Allen berry works, Tenneco clean air & ZF CVS India has been Q Prime certified in last supplier meet happened on 1st December 2022.
              </h5>
                    </div>
                </div>
            </div>   
            </div>
        </div>
    </div>
</div>